fastapi==0.111.0
uvicorn==0.29.0
requests==2.31.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
apscheduler==3.10.4

# Azure AI Agent Service
azure-ai-projects==1.0.0
azure-ai-agents==1.0.0
gunicorn==22.0.0
azure-identity==1.19.0

# EDA & Data Science
xgboost==3.2.0
scipy==1.17.1
scikit-learn==1.9.0
pandas==3.0.3
